{% extends 'base.html' %}

{% block menu %}
		<ul class="MainMenu-list">
			<li class="MainMenu-item"><a href="/" id="empresa" class="MainMenu-link activo">Empresa</a></li>
			<li class="MainMenu-item"><a href="/servicios/" id="servicios" class="MainMenu-link">Servicios</a></li>
			<li class="MainMenu-item"><a href="/contacto/" id="contacto" class="MainMenu-link">Contacto</a></li>
		</ul>
{% endblock%}

{% block content %}
	<section class="contenidoEmpresa">
		<br>
		<h1>Desarrollo Integral de Tecnologías de Información Open Source</h1>
		<p class="ditios">
			Con sede en Villahermosa, Tabasco, México; nace con la intención de proporcionar herramientas digitales al día con la vanguardia de las Tecnologías de Información, y con el objetivo de optimizar procesos y tiempos de respuesta a nuestros clientes para simplificar sus tareas.
		</p>
		<p class="ditios">
			Empresa de servicios especializada en Software Libre y Desarrollo Web, fundada en el año 2012 en Villahermosa, Tabasco, México. Constituida por profesionales que reúnen más de 20 años en el desarrollo de Proyectos de Hardware y Software.
		</p>
		<p class="ditios">
			Nuestras soluciones estan basadas 100% en Software Libre, van desde el suministro e intalación de Servidores Linux hasta el desarrollo de Aplicaciones Web y Desktop, implementadas con Diseño Responsivo, HTML5, CSS3, Javascript, Python - Django, NodeJS.
		</p>
		<p class="ditios">
			La integración de Hardware y Software Libre nos permiten desarrollar soluciones acordes a las necesidades de hoy en día; y a su empresa, la posibilidad de poseer soluciones de alto rendimiento reduciendo costos.
		</p>
		<p class="mision">
			<strong>Misión</strong><br><br>Ofrecer nuestra experiencia en T.I. para solucionar los problemas informáticos de nuestros clientes, en el menor tiempo posible.
		</p>
		<p class="vision">
			<strong>Visión</strong><br><br>Ser la Empresa proveedora de seguridad, estabilidad y alto desempeño en soluciones de T.I. con Software Libre.
		</p>
		<p class="valores">
			<strong>Valores</strong><br><br>Somos personas <strong>Profesionales</strong>, <strong>Honestas</strong> y con <strong>Experiencia</strong>. <br><br>
		</p>
	</section>
{% endblock%}
